//====================================================================================================
.footer {
    // .footer__container
    &__container {
    }
    // .footer__body
    &__body {
        border-top: 1px solid #D8D8D8;
        display: grid;
        grid-template-columns: rem(249) 1fr rem(292);
        @include adaptiveValue("padding-top", 80, 30);
        @include adaptiveValue("padding-bottom", 60, 30);
        @include adaptiveValue("column-gap", 80, 0);
        @media (max-width:$pc){
            grid-template-rows: auto auto;
            grid-template-columns: 1fr rem(290);
        }
        @media (max-width:$tablet){
            display: block;
        }
    }
    // .footer__main
    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width:$pc){
            grid-column: span 2;
            @include adaptiveValue("margin-bottom", 40,30 );
        }
    }
    // .footer__logo
    &__logo {
        &:not(:last-child) {margin-bottom: em(16, 24);}
    }
    // .footer__text
    &__text {
        color: $greyColor;
        line-height: 150%;
        &:not(:last-child) {margin-bottom: em(16, 16);}
    }
    // .footer__contacts
    &__contacts {
    }
    // .footer__menu
    &__menu {
    }
    // .footer__subscribe
    &__subscribe {
    }
}
.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // .contacts-footer__item

    &__item {
        display: inline-flex;
        align-items: center;
        line-height: 150%;
        color: $greyColor;
        transition: color 0.3s ease 0s;
        &::before{
            margin: rem(0) rem(8) rem(0) rem(0);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",16 , 10);
        }
        @media (any-hover: hover){
            &:hover{
                color: $Orandg;
            }
        }
    }
}
.menu-footer {
    @media (min-width:$mobile){
        display: flex;
    }
    // .menu-footer__column
    &__column {
        @media (min-width:$mobile){
            flex: 0 1 33.333%;
        }
        @media (max-width:$mobile){
            @include adaptiveValue("margin-bottom", 30, 15);
        }
    }
    // .menu-footer__title
    &__title {
        cursor: default;
        @media (min-width:$mobile){
            &:not(:last-child) {
                margin-bottom: em(16, 24);
            }
        }
        ._spoller-init & { 
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @extend ._icon-arrow-down;
            &::before{
                @extend %ic;
                font-size: rem(14);
                transition: transform 0.3s ease 0s;
            }
        }
        &._spoller-active {
            &::before{
                transform: rotate(-180deg);
                
            }
        }
    }
    // .menu-footer__list
    &__list {
        li {
            margin: rem(0) rem(0) rem(15) rem(0);
        }
        @media (max-width:$mobile){
            padding: rem(15) rem(0) rem(0) rem(0);
        }
    }
    // .menu-footer__link
    &__link {
        color: $greyColor;
        transition: color 0.3s ease 0s;
        line-height: 120%;
        font-weight: 500;
        @media (any-hover: hover){
            &:hover{
                color: $Orandg;
            }
        }
    }
}
.subscribe {
    // .subscribe__title
    &__title {
        &:not(:last-child) {
            margin-bottom: em(16, 24);
        }
    }
    // .subscribe__form
    &__form {
        display: flex;
        position: relative;
        .form__error {
            position: absolute;
            top: 100%;
            margin: rem(3) rem(0) rem(0) rem(0);
            left: rem(12);
            color: red;
            font-size: rem(12);
        }
    }
    // .subscribe__input
    &__input {
        padding: 0 rem(12);
        width: 100%;
        background-color: #F4F5F7;
        color: #828282;
    }
    // .subscribe__button
    &__button {
        flex: 0 0 rem(45);
        height: rem(45);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(18);
        background-color: $Orandg;
        color: #fff;
        transition: background-color 0.3s ease 0s;
        margin: rem(0) rem(0) rem(0) rem(4);
        @media (any-hover: hover){
            &:hover{
                background-color:#c38057;
            }
        }
    }
}
//====================================================================================================
